.grid__Servicio {
  width: 100%;
  height: 1fr;
  margin: 0;
  margin-top: .75rem;
  margin-bottom: 3rem;
  padding: 0;
  display: grid;
  grid-template-columns: 0.5fr  1fr;
  grid-template-rows: 0.15fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-areas: "titulo titulo" "imagen parrafo" "imagen2 parrafo2" "imagen3 parrafo3" "imagen4 parrafo4"; }
  .grid__Servicio .main__titulo {
    margin-top: 3rem;
    margin-bottom: 4rem; }
  .grid__Servicio .imagen {
    grid-area: imagen; }
  .grid__Servicio .imagen2 {
    grid-area: imagen2; }
  .grid__Servicio .imagen3 {
    grid-area: imagen3; }
  .grid__Servicio .imagen4 {
    grid-area: imagen4; }
  .grid__Servicio .parrafos__paginas {
    margin: 1rem;
    grid-area: parrafo;
    text-align: justify; }
  .grid__Servicio .parrafos__paginas2 {
    margin: 1rem;
    grid-area: parrafo2;
    text-align: justify; }
  .grid__Servicio .parrafos__paginas3 {
    margin: 1rem;
    grid-area: parrafo3;
    text-align: justify; }
  .grid__Servicio .parrafos__paginas4 {
    margin: 1rem;
    grid-area: parrafo4;
    text-align: justify; }
  .grid__Servicio .parrafos__paginas5 {
    margin: 0;
    grid-area: parrafo4;
    text-align: justify; }
  .grid__Servicio .parrafos__paginas5 p {
    margin-top: 1rem; }
  .grid__Servicio .parrafos__paginas5 h3, .grid__Servicio h4, .grid__Servicio h5 {
    margin-top: 1rem; }

.Contact {
  display: flex;
  width: 100%;
  margin-bottom: 3rem; }
  .Contact img {
    width: 50%;
    height: 27rem;
    margin-left: 1rem;
    margin-right: 1rem; }
  .Contact .Fieldset {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .Contact .Fieldset .Name {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .Contact .Fieldset .Name input {
        background-color: #f5dbdb;
        border-color: #c26188; }
    .Contact .Fieldset .Email {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .Contact .Fieldset .Email input {
        background-color: #f5dbdb;
        border-color: #c26188; }
    .Contact .Fieldset .CTexto {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .Contact .Fieldset .CTexto textarea {
        border-color: #c26188;
        color: #57102e;
        background-color: #f5dbdb; }
    .Contact .Fieldset .BotonM {
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .Contact .Fieldset .BotonM input {
        background-color: #f5dbdb;
        color: #57102e;
        border-color: #c26188; }

.Cards {
  background-color: #fa84b3;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .Cards img {
    margin-top: 1rem; }
  .Cards .Botones {
    background-color: #ddb4b4;
    color: #57102e; }

body {
  background: radial-gradient(#ddb4b4, #ddd2d2);
  font-family: 'Courier New', Courier, monospace;
  color: #57102e;
  font-size: 1rem; }

.animate__animated .animate__bounce {
  --animate-duration:2s; }

.Color-navbar {
  background: linear-gradient(#c26188, #ddb4b4, #c26188); }

.Color-text-Nav {
  color: #57102e; }

.grid__principall {
  width: 100%;
  height: 1fr;
  margin: 0;
  margin-top: .75rem;
  margin-bottom: 3rem;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: 6rem 30rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-areas: "titulo titulo" "imagen parrafo" "parrafo2 parrafo2"; }
  .grid__principall .main__titulo {
    color: #57102e;
    margin: 1rem;
    padding: 0;
    grid-area: titulo;
    line-height: 0.15rem; }
  .grid__principall img {
    width: 100%;
    height: 100%; }

.footer {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-evenly; }
  .footer .footer__horarios {
    width: 100%;
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: left; }
  .footer .footer__servicios {
    width: 100%;
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: left; }
  .footer .footer__contactos {
    width: 100%;
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: left; }
  .footer .footer__direccion {
    width: 100%;
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: left; }

.Pie_pagina {
  background: linear-gradient(#c26188, #ddb4b4, #c26188);
  color: #57102e;
  height: 9rem; }
  .Pie_pagina .footer__redes {
    display: flex;
    width: 100%;
    height: 5rem;
    margin: 0;
    align-items: center;
    margin: auto;
    justify-content: center;
    transition: 4s; }
  .Pie_pagina img {
    width: 3.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
  .Pie_pagina img:hover {
    width: 4.5rem;
    height: 4.5rem; }

.Redes {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }

.footer__paginas {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-around; }
  .footer__paginas .privacidad {
    margin: 0;
    text-decoration: none; }
  .footer__paginas .cookies {
    margin: 0;
    text-decoration: none; }
  .footer__paginas .Terminos {
    margin: 0;
    text-decoration: none; }

@media (max-width: 768px) and (min-width: 660px) {
  .grid__principall {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0;
    font-size: 0.85rem; }
    .grid__principall img {
      width: 100%; }
  .footer {
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: flex-start;
    font-size: 0.85rem; }
    .footer .footer__horarios {
      width: 100%;
      margin-left: 2rem;
      margin-right: 1rem;
      text-align: left; }
    .footer .footer__servicios {
      display: none; }
    .footer .footer__contactos {
      width: 100%;
      margin-left: 2rem;
      margin-right: 1rem;
      text-align: left; }
    .footer .footer__direccion {
      display: none; }
  .Pie_pagina {
    font-size: 0.85rem; }
    .Pie_pagina .footer__redes {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly; }
    .Pie_pagina .Redes {
      align-items: center; }
  .grid__Servicio {
    font-size: 0.85rem;
    width: 100%;
    margin-top: .75rem;
    margin-bottom: 3.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: start; }
  .Contact {
    font-size: 0.85rem;
    display: block;
    width: 100%;
    margin-bottom: 3rem; }
    .Contact img {
      width: 100%;
      height: 27rem;
      margin-left: 1rem;
      margin-right: 1rem; }
    .Contact .Fieldset .Name {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .Contact .Fieldset .Name input {
        background-color: #f5dbdb;
        border-color: #c26188; }
    .Contact .Fieldset .Email {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .Contact .Fieldset .Email input {
        background-color: #f5dbdb;
        border-color: #c26188; }
    .Contact .Fieldset .CTexto {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .Contact .Fieldset .CTexto textarea {
        border-color: #c26188;
        color: #57102e;
        background-color: #f5dbdb; }
    .Contact .Fieldset .BotonM {
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .Contact .Fieldset .BotonM input {
        background-color: #f5dbdb;
        color: #57102e;
        border-color: #c26188; } }

@media (max-width: 659px) and (min-width: 400px) {
  .grid__principall {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0;
    display: block;
    justify-items: start;
    font-size: 0.75rem; }
    .grid__principall img {
      width: 100%;
      height: 80%; }
  .footer {
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.75rem; }
    .footer .footer__horarios {
      width: 100%;
      margin-left: 2rem;
      margin-right: 1rem;
      text-align: left; }
    .footer .footer__contactos {
      width: 100%;
      margin-left: 2rem;
      margin-right: 1rem;
      text-align: left; }
    .footer .footer__servicios {
      display: none; }
    .footer .footer__direccion {
      display: none; }
  .footer__paginas {
    display: none; }
  .Redes {
    align-items: center; }
  .grid__Servicio {
    width: 100%;
    margin-top: .75rem;
    margin-bottom: 3.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: start;
    font-size: 0.75rem; }
  .Contact {
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem; }
    .Contact img {
      width: 100%;
      margin-left: 1rem;
      margin-right: 1rem; }
    .Contact .Fieldset {
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0; }
  .Name {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .Name input {
    background-color: #f5dbdb;
    border-color: #c26188; }
  .Email {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .Email input {
    background-color: #f5dbdb;
    border-color: #c26188; }
  .CTexto {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .CTexto textarea {
    border-color: #c26188;
    color: #57102e;
    background-color: #f5dbdb; }
  .BotonM {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .Botones input {
    background-color: #f5dbdb;
    color: #57102e;
    border-color: #c26188; } }

@media (max-width: 399px) {
  html {
    font-size: 0.7rem; }
  .grid__principall {
    width: 100%;
    margin-top: 0.75rem;
    margin-bottom: 3.5rem;
    padding: 0;
    display: block;
    justify-items: start; }
    .grid__principall .main__titulo {
      margin-top: 3rem;
      margin-bottom: 4rem;
      font-size: 0.85rem; }
    .grid__principall img {
      width: 100%;
      height: 100%; }
  .footer {
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center; }
    .footer .footer__horarios {
      width: 100%;
      text-align: center; }
    .footer .footer__contactos {
      display: none; }
    .footer .footer__servicios {
      display: none; }
    .footer .footer__direccion {
      display: none; }
    .footer .footer__paginas {
      display: none; }
  .footer__paginas {
    display: none; }
  .Redes {
    display: none; }
  .grid__Servicio {
    width: 100%;
    margin-top: .75rem;
    margin-bottom: 3.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: start; }
  .Contact {
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem; }
    .Contact img {
      width: 100%;
      height: 15rem;
      margin-left: 1rem;
      margin-right: 1rem; }
    .Contact .Fieldset {
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0; } }
