*{margin: 0;
padding: 0;}

html{font-size: 85%;}



body{
    background: radial-gradient(#ddb4b4, #ddd2d2);
    font-family:'Courier New', Courier, monospace;
    color: #57102e;
    
}






.Pmenu{
    display:flex;
    justify-content: left;
    align-items: left;
    width: 100%;}

#MENU1{
    color:#57102e;
    font-size:1.10rem;
    background-size: 100%;
    width: 100%;
    height: 30px;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 2.5rem;}


.he1{
    margin: 0px;
    padding: 0px;
    width: 20%;height: 30px; vertical-align: middle;
    }

.he2{margin: 0px;
    padding: 0px;
    width: 20%;
    height: 30px;}
.he3{margin: 0px;
    padding: 0px;
    width: 20%;height: 30px;}
.he4{margin: 0px;
    padding: 0px;
    width: 20%;height: 30px;}
.he5{margin: 0px;
    padding: 0px;
    width: 20%;height: 30px; }

.P1{margin: 0;padding: 0;height: 30px;}
.a1{margin:0; padding:0;text-decoration: none;height: 30px;}
.a2{margin:0; padding:0;text-decoration: none;height: 30px;}
.a3{margin:0; padding:0;text-decoration: none;height: 30px;}
.a4{margin:0; padding:0;text-decoration: none;height: 30px;}


#logo{margin: 0; padding: 0;}






 .grid__principall{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 50px 300px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-content: space-around;
    justify-content: stretch;
    align-items:start ;
    justify-items: stretch;
    grid-template-areas: "titulo titulo" "imagen parrafo" "parrafo2 parrafo2";}



.main__titulo{color: #57102e;
    margin: 10px;
    grid-area:titulo;
    line-height: 0.15rem;
    }

.imagen{
    grid-area:imagen;
    justify-items: stretch;}
    
.parrafos__paginas{
    grid-area:parrafo;
    text-align: justify;}

.parrafos__paginas2{
        grid-area:parrafo2}


.footer{
    display: flex;
    margin: 5px;
    
}

.footer__horarios{width: 25%;
    margin: 5px;
    text-align: left;
    display: inline-block;
}
 
.footer__servicios{display: inline-block;width: 25%;}
.footer__contactos{display: inline-block; width: 25%;}
.footer__direccion{display: inline-block;  width: 25%;}


.Redes{display: flex;
    justify-content: center;
    margin-bottom: 20px;}



.footer__redes{
    text-decoration: none;
    display:flex;
    width: 100%;
    height: 5rem; 
    margin: 5px;
    align-items: center;
    margin: auto;
    justify-content: center;
    transition: 2s;}

.footer__redes img:hover{
    width: 50px; height: 50px;


}





.face{margin: 10px;}
.insta{margin: 10px;}
.what{margin: 10px;}






.footer__paginas{
    display:flex;
    width: 100%; 
    margin: 5px;
    justify-content: space-around;
    line-height: 2.5rem;
    }

.mf{margin: 5px;}
.privacidad{margin: 5px;}
.cookies{margin: 5px;}
.Terminos{margin: 5px;}

.Contact{
    display: flex;
    width: 100%;    
    margin-bottom: 40px;
}
.Contact img{width: 75%; height: 400px;
margin-left: 5px;
margin-right: 5px;}
.Fieldset{ 
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;}
.Botones input{
    background-color: #ddb4b4;
    color: #57102e;
    border-color: #57102e;
    margin-bottom: 20px;
    
}


/* media de index  768px*/

@media(max-width: 515px)
{
    
    
    #MENU1{
        height: 100%;
        width: 100%;
        margin-bottom: 40px;
    }
        .he1{height: 50px;}
        .grid__principall{
            width: 100%;
            margin-top: 40px;
            margin-bottom: 40px;
            padding: 0;
            display:block;
            justify-items: start;
            }
            .main__titulo{
                display: block;
            }
            .imagen{display: block;}
            .parrafos__paginas{display: block;}


            .imagen img{ width: 100%; height:100%;}

            .footer{
                display:none;
                margin: 5px;
                
            }
            
            .footer__horarios{width: 25%;
                margin: 5px;
                text-align: left;
                display: block;
            }
             
            .footer__servicios{display: block;width: 25%;}
            .footer__contactos{display: block; width: 25%;}
            .footer__direccion{display: block;  width: 25%;}
            
                      
            .footer__redes{
                text-decoration: none;
                display:flex;
                width: 100%; 
                margin: 5px;
                align-items: center;
                margin: auto;
                justify-content: space-evenly;}
               
                .footer__paginas{
                    display:none;
                    }
                
                .mf{margin: 5px;}
                .privacidad{margin: 5px;}
                .cookies{margin: 5px;}
                .Terminos{margin: 5px;}

                .Redes{
                    align-items: center;
                }} 
    


/* servicios */

    #MENU1{margin-bottom: 30PX;}
    .main__titulo{margin-top: 40px;}

    .Pserv{text-align: justify;
            margin-bottom: 40PX;}

    .Fserv{
        display: flex;
        justify-content: space-around;
        margin-top: 10PX;
        margin-bottom: 30px;
}
.Tlim, .Ttra, .Texf{ margin: 5px;}



@media (max-width:375px) {


    #MENU1{margin-bottom: 30PX;
    display: block;
    width: auto;
    height: auto;}
    .main__titulo{margin-top: 40px;}
    
    .Pserv{text-align: justify;
    margin-bottom: 40PX;}
    
    .Fserv{
        display: column;
        justify-content: space-around;
        margin-top: 10PX;
        margin-bottom: 30px;
    }
    .Tlim, .Ttra, .Texf{ margin: 5px;}
    



    
}


 