@media(max-width: 768px) and (min-width:660px)
{
    
    .grid__principall{
        display: flex;
        flex-direction:column;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 3rem;
        padding: 0;        
        font-size: $fuente768;
        img{ width: 100%;}  
        
    }
   
    
    .footer{
        flex-direction: row;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: flex-start;
        font-size: $fuente768;
        .footer__horarios{width: 100%;margin-left: 2rem;margin-right: 1rem; text-align: left;}
        .footer__servicios{display:none;}
        .footer__contactos{width: 100%;margin-left: 2rem;margin-right: 1rem; text-align: left;}
        .footer__direccion{display: none;}
    }
               
    .Pie_pagina{
        font-size: $fuente768;
        
        .footer__redes{
                display:flex;
                width: 100%; 
                align-items: center;
                justify-content: space-evenly;}
            .Redes{align-items: center;}
    }

    
    
    .grid__Servicio{
        font-size: $fuente768;
        width: 100%;
        margin-top: .75rem;
        margin-bottom: 3.5rem;
        padding: 0;
        display:flex;
        flex-direction: column;
        justify-items: start;}

        .Contact{
            font-size: $fuente768;
            display: block;
            width: 100%;    
            margin-bottom: 3rem;
            img{width:100%; height: 27rem;
                margin-left: 1rem;
                margin-right: 1rem;
                }
            .Fieldset{
                    
                .Name{margin-top: 1rem;margin-bottom: 1rem;
                    input{background-color: $colorbotones; border-color: $bordebotones;}        
                }
                .Email{margin-top: 1rem;margin-bottom: 1rem;
                    input{background-color: $colorbotones; border-color: $bordebotones;}        
                }
                .CTexto{margin-top: 1rem;margin-bottom: 1rem;
                    textarea{border-color: $bordebotones; color:$colortexto; background-color: $colorbotones; }
                }
                .BotonM{display: flex; justify-content: space-around;margin-top: 1rem;margin-bottom: 1rem;
                    input{        
                            background-color: $colorbotones;
                            color: $colortexto;
                            border-color: $bordebotones;}}}}
        
        
        }
    
        

@media(max-width:659px) and (min-width:400px){


    .grid__principall{
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        margin-bottom: 3rem;
        padding: 0;
        display:block;
        justify-items:start;
        font-size: $fuente659;
        img{ width: 100%; height: 80%;}} 
     
    
    .footer{
        flex-direction: row;
        margin-top: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        font-size: $fuente659;
        .footer__horarios{width: 100%;margin-left: 2rem;margin-right: 1rem; text-align: left;}
        .footer__contactos{width: 100%;margin-left: 2rem;margin-right: 1rem; text-align: left;}        
        .footer__servicios{display: none;}    
        .footer__direccion{display: none;}               
       
    }
    .footer__paginas{display:none;}      
    .Redes{align-items: center;}

    .grid__Servicio{
        width: 100%;
        margin-top: .75rem;
        margin-bottom: 3.5rem;
        padding: 0;
        display:flex;
        flex-direction: column;
        justify-items: start;
        font-size: $fuente659;}
        .Contact{
            flex-direction: column;
            width: 100%;    
            margin-bottom: 3rem;
            img{width:100%;
                margin-left: 1rem;
                margin-right: 1rem;}
                .Fieldset{ 
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    padding: 0;}
            }
        
    
            .Name{margin-top: 1rem;margin-bottom: 1rem;}
            .Name input{background-color: $colorbotones; border-color: $bordebotones;}        
            .Email{margin-top: 1rem;margin-bottom: 1rem;}
            .Email input{background-color: $colorbotones; border-color: $bordebotones;}        
            .CTexto{margin-top: 1rem;margin-bottom: 1rem;}
            .CTexto textarea{border-color: $bordebotones; color: $colortexto; background-color:$colorbotones; }
            .BotonM{display: flex; justify-content: space-around;margin-top: 1rem;margin-bottom: 1rem;}
            .Botones input{        
                background-color: $colorbotones;
                color: $colortexto;
                border-color: $bordebotones;}}

@media(max-width:399px){
    html{font-size: $fuente400;}

        .grid__principall{
            
            width: 100%;
            margin-top: 0.75rem;
            margin-bottom: 3.5rem;
            padding: 0;
            display:block;
            justify-items: start;
            .main__titulo{margin-top: 3rem;margin-bottom: 4rem;font-size:0.85rem;}
            img{ width: 100%; height:100%;}}  
        
        .footer{
            flex-direction: row;
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: center;
            .footer__horarios{width: 100%; text-align:center;}
        .footer__contactos{display: none;}        
        .footer__servicios{display: none;}    
        .footer__direccion{display: none;}               
        .footer__paginas{display:none;}
        }
        .footer__paginas{display:none;}      
        .Redes{display: none;}
        
        
        .grid__Servicio{
            width: 100%;
            margin-top: .75rem;
            margin-bottom: 3.5rem;
            padding: 0;
            display:flex;
            flex-direction: column;
            justify-items: start;}


            .Contact{
                flex-direction: column;
                width: 100%;    
                margin-bottom: 3rem;
                img{width:100%; height: 15rem;
                    margin-left: 1rem;
                    margin-right: 1rem;}
            
                    .Fieldset{ 
                        flex-direction: column;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                        padding: 0;}
                
                                      }
        
                
                   
            
        }
    
       
 