

        .grid__Servicio{
            width: 100%;
            height: 1fr;
            margin: 0;
            margin-top: .75rem;
            margin-bottom: 3rem;
            padding: 0;
            display: grid;
            grid-template-columns: 0.5fr  1fr;
            grid-template-rows: 0.15fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;
            grid-template-areas: "titulo titulo" "imagen parrafo" "imagen2 parrafo2" "imagen3 parrafo3" "imagen4 parrafo4";
            .imagen{grid-area:imagen;}
            .imagen2{grid-area:imagen2;}
            .imagen3{grid-area:imagen3;}
            .imagen4{grid-area:imagen4;}
            .parrafos__paginas{margin: 1rem;grid-area:parrafo;text-align: justify;}
        
            .parrafos__paginas2{margin: 1rem;grid-area:parrafo2;text-align: justify;}
        
            .parrafos__paginas3{margin: 1rem;grid-area:parrafo3;text-align: justify;}
        
            .parrafos__paginas4{margin: 1rem;grid-area:parrafo4;text-align: justify;}
            .parrafos__paginas5{margin: 0;grid-area:parrafo4;text-align: justify;}
            .parrafos__paginas5 p{margin-top: 1rem;}
            .parrafos__paginas5 h3,h4,h5{margin-top: 1rem;}
        
        }
               
       